main {
    background-color:black;
}

#tituloinformacion {
    text-align: center;
    color: white;
}

.grupoiconos {
    background-color: cyan;
    text-align: center;
}

section {
    display: inline-block};
}