main {
    background-color:#000000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.titulosecciones {
    text-align: center;
    color: white;
}

.grupoiconos {
    background-color: cyan;
    text-align: center;
}

footer {
    background-color: aqua;
    color: white;
}

#espaciomensaje {
    height: 150px;
}

.iconosfooter {
    text-align: center;
    border-color: white;
}